@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;

@model ProductDetailVM
@{ ViewData["Title"] = "Detail"; }


<center>
    <div class="card" style="width:500px!important;">
        <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"> @Model.Category</p>
            <a href="#" class="btn btn-primary">Add To card</a>
        </div>
    </div>
</center>

@*// get id of the logged in user *@
@{
    string UserId = null;
    if (User.Identity.IsAuthenticated)
    {
        UserId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
}


        @foreach (var item in Model.Comments)
        {
            if (UserId == item.UserId)
            {
<div class="card mb-5">
    <h5 class="card-header"></h5><time datetime="@item.Date"></time>
    <div class="card-body">
        <p class="card-text">@item.Text</p>
        <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>
    <div class="card-body comment-edit">
        <form asp-controller="Comment" asp-action="Edit" method="post">
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
            <input type="hidden" name="Id" value="@item.Id" />
            <div class="form-group">
                <textarea asp- class="form-control" name="Text"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Edit</button>
            </div>
        </form>
    </div>
</div>
            }
            else
            {
                <div class="card mb-5">
                    <h5 class="card-header">Tabriz Habiyev</h5><time datetime="@item.Date"></time>
                    <div class="card-body">
                        <p class="card-text">@item.Text</p>
                    </div>
                </div>
            }
        }

<div class="container">
        <form asp-controller="Comment" asp-action="Create" method="post">
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
            <div class="form-group">
                <label>Comment</label>
                <textarea asp- class="form-control" name="Text"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Comment</button>
            </div>
        </form>
</div>