@model ProductDetailVM
@{
    ViewData["Title"] = "Detail";
}


<center>
    <div class="card" style="width:500px!important;">
        <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"> @Model.Category</p>
            <a href="#" class="btn btn-primary">Add To card</a>
        </div>
    </div>
</center>


<div class="container border" >
    <div class="row">
        @foreach (var item in Model.Comments)
        {
        <div class="card  box-shadow">
            @*//<h6>@ViewBag.Comment.FullName</h6>*@
            <p>@item.Date</p>
            <p>@item.Text</p>
        </div><br/>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <form asp-controller="Comment" asp-action="Create" method="post">
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />
            <div class="form-group">
                <label>Comment</label>
                <textarea asp- class="form-control" name="Text"></textarea>
            </div>
            <div class="form-group">
                <button class="btn-success" type="submit">Comment</button>
            </div>
        </form>
    </div>
</div>